{% extends "baseadmin.html" %}
{% block content %}
<h1>Add Patient </h1>
<form style="width: 22rem;" class="p-2" action="" method="post">
    {% csrf_token %}
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="form5Example1" name="name" class="form-control" />
      <label class="form-label" for="form5Example1">Patients Name</label>
    </div>
  

    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="form5Example2" name="address" class="form-control" />
      <label class="form-label" for="form5Example2">Address</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form5Example2">Gender</label>
      <select id="" name="gender">
        {% for g in gender %}
        <option value="{{g.0}}">{{g.0}}</option>
        {% endfor %}
      </select>
    </div>
  
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="form5Example3"
        checked
      />
      <label class="form-check-label" for="form5Example3">
        I have read and agree to the terms
      </label>
    </div>
  
    <!-- Submit button -->
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Add</button>
  </form>
{% endblock content %}